$indigo-dark:  #1F3170;
$indigo-light:  #223680;
$white-dark: #DEDEDE;
$white-dark-mini: #DCDCDC;
$white: #FFF;
$pink: #f63482;
$black: #000;


$primary: $indigo-dark;
$secondary: $indigo-light;
$tertiary: $white-dark-mini;
$link: #4B2DE3;
$text: $indigo-dark;
$error: $pink;